@import "tailwindcss";

:root {
  --background: #fbf9f5;
  --foreground: #171717;
  --text: #1a1a1a;
  --highlight: #ab1f22;
}

body {
  background: var(--background);
  color: var(--text);
  display: flex;
  justify-content: center;
  font-family: var(--font-inter), sans-serif;
  align-items: center;
}

.font-fraunces {
  font-family: var(--font-fraunces), serif;
}

.font-inter {
  font-family: var(--font-inter), serif;
}

.highlight-red {
  color: var(--highlight);
}
